<% wrap_layout :layout do %>
  <%= partial "_post_content" %>

  <nav>
    <ul>
      <% if prev_post = current_article.previous_article %>
        <li class="previous"><%= link_to(prev_post.data.title, prev_post) %></li>
      <% end %>

      <% if next_post = current_article.next_article %>
        <li class="next"><%= link_to(next_post.data.title, next_post) %></li>
      <% end %>
    </ul>

    <span class="clear"></span>
  </nav>
<% end %>
