
    <footer>
      <p class="first">
        <a href="{{ .Site.BaseURL }}/">Archive</a>
        &middot;
        <a href="{{ .Site.BaseURL }}/feed.xml">Feed (Atom)</a>
        &middot;
        <a href="/feed.json">Feed (JSON)</a>
      </p>
      <p class="last">
        Inspired by <a href="https://code.google.com/archive/p/sp-theme/">sp</a>
      </p>
      <span class="clear"></span>
    </footer>

    <script data-goatcounter="https://caiustheory.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
  </body>
</html>
