
    <footer>
      <p class="first">
        <a href="{{ .Site.BaseURL }}/">Archive</a>
        &middot;
        <a href="{{ .Site.BaseURL }}/feed/">Feed (Atom)</a>
        <!-- &middot;
        <a href="/feed.json">Feed (JSON)</a> -->
      </p>
      <p class="last">
        Inspired by <a href="https://code.google.com/archive/p/sp-theme/">sp</a>
      </p>
      <span class="clear"></span>
    </footer>

    <script>
    	(function() {
    		if (window.location.hostname.indexOf('localhost') > -1) {
    			return;
    		}

    		var script = document.createElement('script');
    		window.counter = 'https://caiustheory.goatcounter.com/count'
    		script.async = 1;
    		script.src = '//static.goatcounter.com/count.min.js';

    		var ins = document.getElementsByTagName('script')[0];
    		ins.parentNode.insertBefore(script, ins)
    	})();
    </script>
  </body>
</html>
