<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ if .IsHome }}Latest{{ else }}{{ .Title }}{{ end }} - CaiusTheory</title>

    <link rel="alternate" type="application/atom+xml" title="Caius Theory" href="{{ .Site.BaseURL }}/feed.xml" />
    <link rel="alternate" type="application/json" title="Caius Theory" href="{{ .Site.BaseURL }}/feed.json" />

    <link rel="stylesheet" href="/css/stylesheet.css" type="text/css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>  	
    <header>
      <h1><a href="/">Caius Theory</a></h1>
      <h2>Now with even more cowbell&hellip;</h2>
    </header>
