<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett, John Peel, Steve Jobs, Steve Irwin">
    <title>{{ if .IsHome }}Latest{{ else }}{{ .Title }}{{ end }} - CaiusTheory</title>

    <link rel="canonical" href="{{ .Permalink }}">

{{ with .OutputFormats.Get "RSSFeed" -}}
    {{ printf `    <link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}
{{ with .OutputFormats.Get "JSONFeed" -}}
    {{ printf `    <link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

    {{ $styles := resources.Get "css/stylesheet.css" | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" type="text/css" media="screen" title="no title">

    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
  </head>
  <body>
    <header>
      <h1><a href="/">Caius Theory</a></h1>
      <h2>Now with even more cowbell&hellip;</h2>
    </header>
