<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>My blog - <%= item[:title] %></title>

    <link rel="alternate" type="application/rss+xml" title="Grinding Gears" href="/atom/1" />

    <link rel="stylesheet" type="text/css" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>

    <div class='navbar'>
      <div class='navbar-inner'>

        <div class='container'>
          <a class='brand' href='/'>My Blog</a>
          <ul class='nav'>
            <li class='active'><a href='/'>Home</a></li>
            <li><a href='/about'>About</a></li>
          </ul>
        </div>

        <div class="container">
          <h3>Archives</h3>

          <ul>
            <% archive_months.each do |archive| %>
              <%= link_to archive.name, archive.path %>
            <% end %>
          </ul>
        </div>

      </div>
    </div>

    <section class='content'>
      <%= yield %>
    </section>

  </body>
</html>
