<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CaiusTheory - <%= item[:title] %></title>

    <link rel="alternate" type="application/rss+xml" title="Caius Theory" href="/feed/" />

  </head>
  <body>

    <div class='navbar'>
      <div class='navbar-inner'>

        <div class='container'>
          <a class='brand' href='/'>My Blog</a>
          <ul class='nav'>
            <li class='active'><a href='/'>Home</a></li>
            <li><a href='/about'>About</a></li>
          </ul>
        </div>

        <div class="container">
          <h3>Archives</h3>

          <ul>
            <% archive_months.each do |archive| %>
              <%= link_to archive.name, archive.path %>
            <% end %>
          </ul>
        </div>

      </div>
    </div>

    <section class='content'>
      <%= yield %>
    </section>

  </body>
</html>
