<% posts.each do |post| %>
  <div class='post'>
    <h1><%= link_to post[:title], post.path %></h1>
    <aside>Posted at: <%= post[:created_at] %></aside>
    <article>
      <%= post.compiled_content %>
    </article>
  </div>
<% end %>

<div class="pagination">
  <ul>
    <% if next_page %>
      <li><%= link_to "Next Page", next_page_path %></li>
    <% end %>
  </ul>
</div>