<% posts.each do |post| %>
  <%= render("post", collection: true, item: post, post_title: link_to(post[:title], post)) %>
<% end %>

<div class="pagination">
  <ul>
    <% if next_page %>
      <li><%= link_to "Next Page", next_page_path %></li>
    <% end %>
    <% if previous_page %>
      <li><%= link_to "Previous Page", previous_page_path %></li>
    <% end %>
  </ul>
</div>
