<nav>
  <div class="pagination">
    <ul>
      <% if next_page %>
        <li class="next"><%= link_to "Next Page", "/#{next_page.path}" %></li>
      <% end %>

      <% if prev_page %>
        <li class="previous"><%= link_to "Previous Page", "/#{prev_page.path}" %></li>
      <% end %>
    </ul>
  </div>
</nav>
